* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover{
    color: rgb(0, 113, 115);

}

/* NAVBAR SECTION */
header {
    background-color: rgba(0, 0, 0, 0.828);
}
/* List items */
li {
    list-style: none;
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.7s ease;

    
}
/* Navigation bar container */
/* Estilos de la barra de navegación */
.navbar {
    position: fixed; /* Fija la barra de navegación */
    top: 0; /* La fija en la parte superior de la ventana */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.828);
    z-index: 100; /* Coloca la barra de navegación sobre el contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 24px;
}

/* Otros estilos de la barra de navegación */
/* ... (los estilos restantes) */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
/* Navigation menu styling  - resume */
.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(0, 113, 115);
}

.hamburger {
    display: none;
    cursor: pointer;
}
/* Bars in the hamburger icon */
.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 113, 115);
}

/* BACKGROUND IMAGE AND COLOR */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(img/backGround1.1.jpg);
    background-attachment:fixed;
    
    
    
}
/*PRELOADER*/
#preloader{
  background:black url(img/preloader.gif) no-repeat center center;
  background-size:20%;
  height: 100vh;
  width:100%;
  position:fixed;

}

 
h1 {
    margin:5.7rem 1rem;
    color: whitesmoke;
    font-family: serif;
    text-align: center;
    font-size: 5rem;
    box-shadow: 0 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


/* SKILLS GALLERY */

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
    margin:0rem;
}
/* Divs inside the gallery */
.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 0px;
    margin:0px;
    flex: none;
}
/* Styling for images in the gallery */
.gallery div img {
    width: 90%;
    height: 90%;
    filter: grayscale(10%);
    transition: transform 0.5s;
    
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}

#backBtn, #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}




/* IMAGES SIZE */



.gallery-item img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}
.gallery-item {
    width: 200px;
    height: 200px;
}


/*ABOUT ME*/
.about-me {
    text-align:center;
    margin:7rem 8rem 11rem 8rem;

}

   


.reveal-btn{
    color:rgb(86, 86, 86);
    font-size:1.2rem;
    font-family:initial;
    border:2.5px solid rgb(56, 56, 56);
    border-radius:40px;
    background-color: rgb(255, 255, 255);
    margin:0rem 0rem 100rem 0rem;
    padding:9px 16px;
    
}
.reveal-btn:hover{
    transition: 0.7s ease;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.hidden-content {
    display:none;
    
     
}

.hidden-content.reveal-btn{
    display:block;
    margin: 2rem 7rem 0rem 7rem;
    padding: 2rem 4rem;
    color:black;
    font-size:1.8rem;
}
    



   






/*PROJECTS*/

.projects-title{
    margin:20rem 1rem 5rem 1rem;
    color: whitesmoke;
    font-family: serif;
    text-align: center;
    font-size: 5rem;
    box-shadow: 0 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}
.projects{
    
    display:grid;
    grid-template-columns: repeat(3,383px);
    margin: 8rem  1rem  12rem 1rem;
    gap:30px;
    justify-content: center;
    
}

.project{
 border: 2px solid rgb(0, 0, 0);
 border-radius: 10px;
 background-color:black;
 


}

.details{
    display:flex;
    flex-direction: row;
    padding:1px;
    gap: 5rem;
    background-color: rgb(0, 0, 0);

}
button{
    font-size:1rem;
    border-radius:50px;
    padding:15px;
    color:whitesmoke;
    background-color:rgb(20, 20, 20);
    
}
button:hover{
   background-color:rgb(0, 0, 0);
}
/*CONTACT SECTION*/
.hero{

    width: 100%;
    height: 58vh;
    display:flex;    /*these three moved it to the center!*/
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
    

}
.input-group{
    margin-bottom:30px;
    position:relative;
    


}
input, textarea{
    width:100%;
    padding:10px;
    outline:0;
    border: 1px solid #fff;
    color: #fff;
    background:rgba(0, 0, 0, 0.797);
    font-size: 15px;
    

}
label{
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    padding:10px;
    color: rgb(255, 255, 255);
    cursor:text;
    transition: 0.2s;


}
.contact-button{
    padding: 10px 0;
    color: #fff;
    outline:none;
    background:rgba(0, 0, 0, 0.797);
    border: 1px solid #fff;
    width:100%;
    cursor: pointer;

}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
    

}
.row{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;

}
#confirmation-message {
    color:rgb(0, 113, 115); /* Color de texto blanco */
    background: rgb(0, 0, 0); /* Fondo semitransparente negro */
    text-align:center; /* Centra el elemento */
    padding: 10px 0px 10px 10px;
    margin:10px 0px 0px 0px;
    border-radius: 50px;
    display: none; /* Inicialmente oculto */
  }
  



/*FOOTER WITH CONTACT INFORMATION*/

footer{
    background-color:rgba(0, 0, 0, 0.912);
    
}
.social-media{
    font-size:2.5rem;
    margin:13px 0px 0px 0px;
    display:flex;
    gap:33px;
    justify-content:center;
    
}
.copyright{
    margin:20px 0px 0px 0px;
    font-size:1rem;
    color:white;
    display:flex;
    justify-content: center;
}


/* RESPONSIVE SECTION */






/* NAVBAR SECTION AND TITLE FOR MOBILE */

@media (max-width: 1050px){

    /*BACKGROUND-COLOR*/
    body{
        font-family: Arial, sans-serif;
        margin: 0;
        background-image: url(img/backGround1.1.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-color: rgb(16, 16, 16);
        
        
    }
    /*NAVIGATION BAR*/
    h1 {
        margin-top:5.8rem;
        font-size: 3rem;
    }
    .projects-title{
        margin-top:14.6rem;
        font-size: 3rem;

    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 88px;
        gap: 0;
        flex-direction:column;
        background-color: rgba(0, 0, 0, 0.928);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        padding:10px;
        font-size:1.2rem;

    }

    .nav-menu.active {
        left: 0;
    }

    /* Changes for the gallery on smaller screen sizes */
    .gallery-wrap {
      
        margin: 2rem 7.5rem;
    }
    .gallery div {
       /* Change to 2 columns instead of 3 */
        justify-content: center;
        
        gap:2.5rem;
        
    }
    .gallery-item {
        width: 100px;
        height: 100px;
        
        
    }
    .gallery-item img {
        width: 100%;
       
    }

    #backBtn, #nextBtn {
        width: 40px;
    }



    /*PROJECT SECTION*/


    .projects{
    
        display:grid;
        grid-template-columns: repeat(2,253px);
        color:white;
        gap:30px;}

        .project img{
            width:250px;
        }
        .details{
        
            padding:15px;
            gap: 5rem;
            
        
        }
        button{
            font-size:0.8rem;
            padding:10px;
            
       }


/*ABOUT ME SECTION*/




 .hidden-content.reveal-btn{
    display:block;
    margin: 1rem 0rem 0rem 0rem;
    padding: 1rem 3rem;
    font-size:1.5rem;
    color:black;

 }

    


@media (max-width: 880px){

    .gallery-wrap {
      
        margin: 2rem 0.5rem;
    }
    .gallery div{
        gap:1rem;
    }
    

    /*ABOUT ME SECTION*/

    .hidden-content.reveal-btn{
        display:block;
        margin: 1rem 0rem 0rem 0rem;
        padding: 1rem 1.2rem;
        font-size:1.2rem;
        color:black;
    }
        
    .reveal-btn{
        
        font-size:1rem;
        border:2.5px solid rgb(56, 56, 56);
        border-radius:40px;
        margin:0rem 0rem 0rem 0rem;
        padding:5px 10px;
    }

  
    
}

/* Media query for smaller screens (max-width: 580px) */
@media screen and (max-width: 580px) {
    /* Additional changes for the gallery on smaller screen sizes */
    .gallery div {
        grid-template-columns: auto; /* Change to 2 columns instead of 3 */
        justify-content: center;
    }

    .gallery-item {
        width: 100%;
        display: flex; /* Use flexbox to center vertically */
        align-items: center; /* Center vertically */
        margin: 0 auto; /* Center horizontally */
    }

    #backBtn, #nextBtn {
        width: 33px;
    }

    /* Changes for the title and resume on smaller screen sizes */
    h1 {
        font-size: 2rem;
    }
    .projects-title{
        font-size:2rem;
    }

    .resume {
        font-size: 1rem;
    }

        /*PROJECT SECTION*/
        .projects{
    
            display:grid;
            grid-template-columns: repeat(2,170px);
            margin-top:6rem;
            color:white;
            gap:12px;

        }
    
            .project img{
                width:169px;
                height:180px;
            }
            .details{
            
                padding:15px;
                gap: 0.5rem;
                
            
            }
            button{
                font-size:15px;
                padding:5px;
                
    }


     /*FOOTER*/
         
    .social-media{
        
        display:flex;
        gap:22px;
        justify-content:center;
    }
    .social-media a {
        font-size: 50px; /* Ajusta este valor para cambiar el tamaño de los íconos */
    }

    /*ABOUT ME SECTION*/

    .about-me{
        margin: 0
    }

    .hidden-content.reveal-btn{
        display:block;
        margin: 1rem 0rem 0rem 0rem;
        padding: 1rem 1.2rem;
        font-size:0.8rem;
        color:black;
    }
        
    .reveal-btn{
        
        font-size:0.9rem;
        border:2.5px solid rgb(56, 56, 56);
        border-radius:40px;
        margin:0rem 0rem 0rem 0rem;
        padding:3px 8px;
    }
}


    

/* SMALL DEVICES */


@media screen and (max-width: 350px){
     .gallery-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20% auto;
     }

     .gallery div {
        grid-template-columns: 1fr; /* Change to 1 column */
        justify-content: center;
        gap: 2rem;
     }

     .gallery-item {
        width: 100px; /* Adjust the width to your preference */
        height: 100px; /* Adjust the height to your preference */
        display: flex;
        align-items: center;
        justify-content: center; /* Center both horizontally and vertically */
     }

     #backBtn, #nextBtn {
        display: none; /* Hide the navigation buttons for this small screen size */
     }

    /* Adjust the size of the images inside the gallery */
     .gallery-item img {
         width: 100%; /* Ensure the images fill their container */
         height: auto; /* Automatically adjust the height to maintain aspect ratio */
     }


     /*PROJECT SECTION*/
      .projects{
        
        display:grid;
        grid-template-columns: repeat(1,153px);
        margin-top:6rem;
        color:white;
        gap:10px;
       }

        .project img{
            width:150px;
        }
        .details{
        
            padding:15px;
            gap: 0.5rem;
            
        
        }
        button{
            font-size:12px;
            padding:3px;
        }


            /*FOOTER*/
            
            
            .social-media{
                
                display:flex;
                gap:12px;
                justify-content:center;
            }
            .social-media a {
                font-size: 30px; /* Ajusta este valor para cambiar el tamaño de los íconos */
            }
            .copyright{
                margin:10px 0px;
                font-size:0.8rem;
                color:white;
                display:flex;
                justify-content: center;
            }
        }

    
